@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300&family=Ysabeau:wght@200;300;500;800&display=swap');


*{
    margin:0;
    padding:0;
    text-decoration: none;
    scroll-behavior:smooth;
         font-family: 'Poppins',sans-serif;
}

:root{
    --bg-color:#121314;
    --s-bg-color:#121314;
    --text-color:#fff;
    --main-color:rgb(165, 48, 145);

}
body{
    background-color: var(--bg-color);
    color:var(--text-color);
    overflow-x: hidden;
    height:100vh;
    width:100%;

}
.btn{
    height: 2rem;
    width:150px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display:inline-flex;
    background-color: var(--main-color);
    color: var(--text-color);
    border-radius: 40px;
    padding: 10px 10px;
    margin-top: 10%;
    box-shadow: 0 0 1rem var(--main-color);

}
.btn:hover{
    box-shadow: none;
    transition: 1.2s;
}
.contact{
    height:600px;
    display: flex;
    align-items:center ;
    justify-content: center;
    background-color:var(--bg-color);
    
}
.c-content{
    height:90%;
    width:70%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     
 }
.c-left{
    height:70%;
    width:50%;
}
.c-right{
    height:90%;
    width:50%;
}

.c-heading span{
    color:var(--main-color);
    
    
}
.c-left{
    font-size:20px;

    
}
.c-right input{
    height:40px;
    margin:10px;
    padding:10px;
    color:white;
    background-color: transparent;
}
.c-right p{
    margin:20px;
}
.c-left i{
    color:var(--main-color);
}
.c-right{
    display:flex;
    flex-direction: column;
}
.text{
    height:50px;
}
.c-left p{
    margin:10px;
    
}
.c-heading{
    margin-top:-30px;
}
.c-right button{
    height:40px;
    width:200px;
    margin:10px;
    border-radius: 20px;
    background-color: var(--main-color);
    color:white;
    border:none;
}
.c-right button:hover{
    box-shadow: 0 0 1rem var(--main-color);

}
.s-media{
    margin-top:40px;
}
.s-media i{
    margin:20px;
    font-size: 30px;
    border:none;
    outline:none;
    box-shadow: 0 0 1rem var(--main-color);
}
.s-media i:hover{
  
    box-shadow: none;
}
.c-right input::placeholder{
   color:white;
}